.box {
  color: #fff;
  /* overflow: scroll; */
  /* overflow: hidden; */
  /*  default width os a block element is 100% */
  /* width: 300px; */
  width: 50%;
  /* height: 300px; */
  /* height: 60%; */
/* 
  margin: 50px;
  padding: 50px; */
  /* border: 10px solid; */
  background-color: #f33;
}

section.parent {
  /* width: 700px; */
  width: 70%;
  background-color: #000;
  height: 500px;
  /* height: 80%; */
}

/* .section {
  background-color: #f33;
  height: 90%;
} */

button {
  /*  we use fixed absolute length for small elements like buttons */
  width: 100px;
  height: 40px;
}