/* word root here is an alias for <html> */
:root {
  --color1: #ff338f;
  --color2: #fffb21;
}

html {
  /* font-size: 16px; */
}

section.content {
  font-size: 50px;
}

p {
  /* font-size: 1em; */
  /* is equal to 1 x 16px */
  /* font-size: 2em;
  font-size: 20px; */
  /* width: 10em; */
  font-size: 3rem;
}

