/* word root here is an alias for <html> */
:root {
  --primary-color: #ff338f;
  --secondary-color: #fffb21;
  /* --font-family:  */
  --btn-font-size: 50px;
}

h1 {
  color: var(--primary-color);
}

p {
  background-color: var(--primary-color);
  font-size: var(--btn-font-size);
}

.btn {
  font-size: var(--btn-font-size);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}